@use '../../assets/scss/abstracts/variables' as var;
@use '../../assets/scss/abstracts/functions' as func;

.card__list-item {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: func.em(220, var.$font-size-primary);
	padding: func.em(24, var.$font-size-primary);
	background-color: var.$color-white;
	border-radius: 8px;
	box-shadow: 0px func.em(15, var.$font-size-primary)
		func.em(20, var.$font-size-primary) 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.card__list-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: func.em(4, var.$font-size-primary);
	background-color: transparent;
}

.card__list-item--supervisor::before {
	background-color: var.$color-cyan;
}

.card__list-item--team-builder::before {
	background-color: var.$color-red;
}

.card__list-item--karma::before {
	background-color: var.$color-orange;
}

.card__list-item--calculator::before {
	background-color: var.$color-blue;
}

.card__title {
	margin-bottom: func.em(8, 20);
}

.card__desc {
	font-size: func.em(13, var.$font-size-primary);
}

.card__image {
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
}

.card__image img {
	width: func.em(56, var.$font-size-primary);
	height: func.em(56, var.$font-size-primary);
}
