@use '../../assets/scss/abstracts/variables' as var;
@use '../../assets/scss/abstracts/functions' as func;

.cards {
	display: flex;
	flex-direction: column;
	gap: func.em(24, var.$font-size-primary);
}

@media (min-width: 57.5em) {
	.cards {
		flex-direction: row;
		gap: func.em(30, var.$font-size-primary);
	}
}
