@use '../../assets/scss/abstracts/variables' as var;
@use '../../assets/scss/abstracts/functions' as func;

.cards__block {
	display: flex;
	flex-direction: column;
	gap: func.em(24, var.$font-size-primary);
}

@media (min-width: 57.5em) {
	.cards__block {
		gap: func.em(30, var.$font-size-primary);
	}

	.cards__block {
		justify-content: center;
		flex: 1;
	}
}
