@use '../../assets/scss/abstracts/variables' as var;
@use '../../assets/scss/abstracts/functions' as func;

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: func.em(10, var.$font-size-primary);
	min-height: func.em(220, var.$font-size-primary);
	padding: func.em(28, var.$font-size-primary);
	background-color: var.$color-white;
	border-radius: 8px;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: func.em(4, var.$font-size-primary);
	background-color: transparent;
}

.card--supervisor::before {
	background-color: var.$color-cyan;
}

.card--team-builder::before {
	background-color: var.$color-red;
}

.card--karma::before {
	background-color: var.$color-orange;
}

.card--calculator::before {
	background-color: var.$color-blue;
}

.card__desc {
	font-size: func.em(13, var.$font-size-primary);
}

.card__image {
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
}

.card__image img {
	width: func.em(56, var.$font-size-primary);
	height: func.em(56, var.$font-size-primary);
}
