@use '../../assets/scss/abstracts/variables' as var;
@use '../../assets/scss/abstracts/functions' as func;

.section,
.section__head {
	display: flex;
	flex-direction: column;
}

.section {
	align-items: center;
	gap: func.em(76, var.$font-size-primary);
	width: 100%;
	max-width: func.em(420, var.$font-size-primary);
	margin: func.em(40, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
}

.section__head {
	padding-top: func.em(40, var.$font-size-primary);
	text-align: center;
}

.section__title {
	font-weight: var.$font-weight-200;
}

.section__subtitle {
	margin-bottom: func.em(16, 24);
	font-size: func.em(24, var.$font-size-primary);
	color: var.$color-dark-blue;
	line-height: 1.25;
}

@media (min-width: 48em) {
	.section {
		gap: func.em(60, var.$font-size-primary);
		max-width: func.em(1110, var.$font-size-primary);
	}

	.section__head {
		max-width: func.em(540, var.$font-size-primary);
	}

	.section__title,
	.section__subtitle {
		font-size: func.em(36, var.$font-size-primary);
	}

	.section__subtitle {
		margin-bottom: func.em(16, 36);
	}
}
